body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: #3f2c50;
  text-align: center;
}

fieldset {
  margin: 20px 0;
  padding: 10px;
}

input {
  font-size: 16px;
  padding: 5px;
  width: 300px;
}

p {
  font-size: 18px;
  text-align: center;
}

